.form-input {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 15px;
  color: #555;
  font: 14px Arial, Helvetica, sans-serif;
}

.form-input:focus {
  box-shadow: 0 0 5px #43D1AF;
  padding: 5px;
  border: 1px solid #43D1AF;
}