.document_editor-form {
  padding: 20px;
  width: 100%;
}

.editor_form-content {
  display: flex;
  flex-direction: column;
}

.form-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
