.left_panel-container {
  width: 250px;
  padding: 20px;
  border-right: 1px solid black;
}

.left_panel-list {
  padding: 30px;
}

.left_panel-list__document-title {
  border-bottom: 1px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.left_panel-list__document-title--selected {
  background-color: yellow;
}

.left_panel-top_content {
  display: flex;
}

.document-search {
  margin-right: 8px;
}
