.api_provider-container {
  margin: auto;
  margin-top: 100px;
  width: 400px;
}

.api_provider-form {
  width: 500px;
  margin-top: 20px;
}

.api_provider-form__input {
  width: 350px;
  height: 30px;
  margin-right: 20px;
  padding-left: 10px;
}

.api_provider-form__button {
  width: 60px;
  height: 36px;
}

.api_provider-form__error {
  color: red;
  margin-top: 12px;
}
