.circleci-build {
  margin-top: 20px;
  border-bottom: 1px solid #000000;
}

.circleci-build time {
  color: #888888;
  font-weight: bold;
}

.circleci-build-link {
  color: #000000;
}

.circleci-build-link:hover {
  text-decoration: none;
}

.circleci-build-status {
  color: #000000;
  font-weight: bold;
}

.circleci-build-status.success {
  color: green;
}

.circleci-build-status.fail {
  color: red;
}

.circleci-build-status.running {
  color: blue;
}

.circleci-build-title, .circleci-build-status-label {
  color: #000000;
}

.circleci-build-commit-msg {
  color: #888888;
}
